*{
  margin: 0;
  padding: 0;
  
}


#root{
  display: grid;

  grid-template-areas: 
  
  "main"
  "footer";

  grid-template-rows: 90vh 10vh;
    grid-template-columns: 1fr;
    font-size: 20px;
    
}