#root {
    height: 100vh;
    color: var(--cor-texto-padrao);
}


:root {
    --cor-primaria-clara: #7986cb;
    --cor-primaria: #3f50b5;
    --cor-primaria-escura: #303f9f;

    --cor-secundaria-clara: #ffab40;
    --cor-secundaria: #ff9100;
    --cor-secundaria-escura: #ff6d00;

    --cor-fundo-padrao: #ffffff;

    --cor-texto-padrao: ##0d0d0d;
    --cor-texto-claro: #87888b;

    --cor-info: #0288d1;
    --cor-sucesso: #1aa251;
    --cor-aviso: #dea500;
    --cor-erro: #eb0014;

    --cor-cinza: #99A7BB;
}