#root {
    
    
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    
}


:root {
    --cor-primaria-verde: #7AC300;
    --cor-primaria-vermelho: #CC0019;
    --cor-primaria-azul: #1960AE;

    --cor-texto-primaria: #ffffff;
    --cor-texto-segundaria: #848689;

}

