#root {
    height: 100vh;
    /* background: rgba(1, 102, 122, 0.147); */
    /* background: linear-gradient(0deg, rgba(1, 102, 122, 1) 0%, rgba(222, 55, 77, 0.24086131034445024) 43%); */
    color: var(--cor-texto-segundaria-cor-texto-primaria);
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}


:root {
    --cor-primaria-azul: #01667a;
    --cor-primaria-vermelho: #de374d;
    --cor-primaria-vermelho: #848689;

    --cor-texto-primaria: #ffffff;
    --cor-texto-segundaria: #848689;

}

