.about__container{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top:100vh;
    width: 100%;
    /* height: 100vh; */
    /* border: 2px solid red; */
    background-color: #070707;
    /* background-image: url("../../assets/amazon-bg.png"); */
    background-size: cover;
    
    
    
    
    
    

}

.titulo__sobre{
    font-size: 3.5rem;
    position: relative;
    margin-top: 7rem;
    margin-left: 10rem;
    color: rgba(255, 255, 255, 0.847);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.847);
    width: fit-content;
}

.sobre__descricao{
    font-size: 1.8rem;
    text-align:start;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45rem;
    margin-left: 10rem;
    margin-top: 3rem;
    line-height: 3.5rem;
    color: rgba(255, 255, 255, 0.847);
    text-align: justify;
    letter-spacing: 2px;
}

.about_left__container{
    /* border: 2px solid blueviolet; */
    /* background-color: aqua; */
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    /* right: 0; */
}


.about_right__container{
    /* border: 2px solid blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    

}


.about_right__container  .about_left__container{
    position: static;
}

.logoHorizontal{
    display: flex;
    position: relative;
    left:5rem;
    top: 5rem;
    width: 30rem;
    padding: 0;
    margin: 0;
}



.btn__beneficios{
    background: #77a32a;
    background-image: -webkit-linear-gradient(top, #77a32a, #7AC300);
    background-image: -moz-linear-gradient(top, #77a32a, #7AC300);
    background-image: -ms-linear-gradient(top, #77a32a, #7AC300);
    background-image: -o-linear-gradient(top, #77a32a, #7AC300);
    background-image: linear-gradient(to bottom, #77a32a, #7AC300);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: "Titillium Web", sans-serif;
    letter-spacing: 2px;;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 3rem;
    padding: 10px 10px 10px 20px;
    border: solid #a5c769 1px;
    text-decoration: none;
    margin-top: 2rem;
    cursor: pointer;
    width: 15rem;
    height: 4rem;
    text-align: center;
    margin-left: 22rem;
}

.btn__beneficios:hover {
    background: #1aad24;
    background-image: -webkit-linear-gradient(top, #1aad24, #63d934);
    background-image: -moz-linear-gradient(top, #1aad24, #63d934);
    background-image: -ms-linear-gradient(top, #1aad24, #63d934);
    background-image: -o-linear-gradient(top, #1aad24, #63d934);
    background-image: linear-gradient(to bottom, #1aad24, #63d934);
    text-decoration: none;
}