header{
    display: flex;
    background-color: var(--cor-fundo-padrao);
    width: 100%;
}


.header__menu{
    display: flex;
    width: 100%;
    border: 5px solid red;
    position: fixed;
    
    justify-content: space-between;
    align-items: center;
}

.header__nav > nav{
    margin: 1em;
    
}
/* nav{
    cursor: pointer;
}

nav:hover{
    font-size:larger;
} */